<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark main" style="width: 280px; height: 88vh;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active " aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white bg-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Book flights
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white bg-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Book Hotels
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white bg-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Iternary
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white bg-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Travel Packages
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white bg-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Support 
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white bg-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Billing
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown" [class.dropup]="isDropdownOpen">
    <a (click)="toggleDropdown()" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle show" id="dropdownUser1" aria-expanded="true">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul *ngIf="isDropdownOpen" class="dropdown-menu dropdown-menu-dark text-small shadow show" aria-labelledby="dropdownUser1">
      <!-- Your dropdown menu items go here -->
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
    </ul>
  </div>
  

</div>
