main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

h3{
    font-size: 11px;
}
.alternateFlightsSection{
    position: absolute;
    height: 78vh;
    top: 10px;
    width: 75%;
    z-index: 1;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 7px 7px  10px 0 grey;
    border: 4px solid darkslategrey;
}


