<button style="    padding: 0;
margin: 0;
height: auto;
width: 100%;
border-radius: 10px;">

<main>
  <!-- airline section -->
  <section class="airline-section">
    <div>
      <img src="" alt="logo1" height="12px" width="12px" />
      <img src="" alt="logo2" height="12px" width="12px" />
    </div>
    <p>Multiple Carriers</p>
  </section>

  <!-- flights section -->
  <section class="flights-section">

    <div *ngFor=" let oneCompleteFlight of flightSetSegmentsArray" class="flights-section-one-complete-flight">

      <div class="flights-section-one-complete-flight-origin-destination-block">
        <div class="origin-destination-block-timings">
          <h3> {{getDepartureTime(oneCompleteFlight)}}  </h3>
          <h3>{{getOriginAirportCode(oneCompleteFlight)}}</h3>
          <h3>{{getOriginFlightDate(oneCompleteFlight)}}</h3>
        </div>
        <div class="origin-destination-block-location">
          <div>
            <h4 *ngIf="isTerminalExist(oneCompleteFlight)">T {{getOriginAirportTerminal(oneCompleteFlight)}} </h4>
            <h4>{{getOriginAirportName(oneCompleteFlight)}}</h4>
          </div>
          <h4>{{getOriginAirportCityName(oneCompleteFlight)}}</h4>
        </div>
      </div>

      <div class="flights-section-one-complete-flight-duration">
        <h3>{{getFlightDuration(oneCompleteFlight)}}</h3>
        <img src="" alt="stopsBar" />
        <h5>via Dubai (DXB)</h5>
      </div>

      <div class="flights-section-one-complete-flight-origin-destination-block">
        
        <div class="origin-destination-block-timings">
          <h3>{{getArrivalTime(oneCompleteFlight)}}</h3>
          <h3>{{getDestinationCityAirportCode(oneCompleteFlight)}}</h3>
          <h3>{{getDestinationFlightDate(oneCompleteFlight)}}</h3>
        </div>
        <div class="origin-destination-block-location">
          <div>
            <h4 *ngIf="isTerminalExist(oneCompleteFlight)" >T{{getDestinationAirportTerminal(oneCompleteFlight)}}</h4>
            <h4>{{getDestinationAirportName(oneCompleteFlight)}}</h4>
          </div>
          <h4>{{getDestinationAirportCityName(oneCompleteFlight)}}</h4>
        </div>
      
      </div>
  
    </div>

  </section>

  <!-- fare section -->
  <section class="fare-section">
    <div class="published-fare-diff">
      <h2>Fare Difference:</h2>
      <h3 style="color: green; font-size: 20px">
        <i> <b>  ₹ {{getPublishedFareDifference()}} </b> </i>
      </h3>
    </div>
    <div class="incentive-earned">
      <h2>Incentive Earned:</h2>
      <h3 style="color: green; font-size: 20px">₹ {{getIncentiveEarned()}}</h3>
    </div>
  </section>
</main>
</button>
