<div class="modal" [ngClass]="{'open': isOpen}">
    <div class="modal-overlay" (click)="closeModal()"></div>
    <div class="modal-content">
      <div class="modal-header">
        <h2>Alternate Flight Options</h2>
        <span class="close" (click)="closeModal()">&times;</span>
      </div>
      <div class="modal-body" style="display: flex;">

        <div class="modal-body-filters-sections">

        </div>
        <div class="modal-body-flight-sets-section"   >
          
            <app-flight-set-card *ngFor="let flightSet of alternateFlightSets" [flightSet]="flightSet"></app-flight-set-card>

        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger">Add To Itinerary</button>
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
  
